h1 #{all_data}

p #{all_data["recipe_name"]}
p Created by #{all_data["user_id"]}
p Date created #{all_data["date_created"]}
p Last updated #{all_data["date_updated"]}
p Ingredients required: #{all_data["ingredients"]}
p Instructions #{all_data["instructions"]}

a href="/like" SMASH THIS LIKE BUTTON TO APROVE!!!

p amount of likes